<div class="navbar"
     [class.compacto]="hasScroll"
     [style.--scrollbar-width.px]="scrollbarWidth">

  <!-- IZQUIERDA: Inicio + Usuarios (solo si es admin) -->
  <div class="navbar-left">
    <button class="volver-btn" (click)="router.navigate(['/home'])">
      <span class="navbar-icon">{{ mostrarVolver ? '◄' : '•' }}</span>
      <span class="navbar-label">{{ mostrarVolver ? 'Volver' : 'Inicio' }}</span>
    </button>

    <button *ngIf="isLoggedIn && esAdmin" class="usuarios-btn" (click)="router.navigate(['/usuarios'])">
      <span class="navbar-label">Usuarios</span>
    </button>
  </div>

  <!-- CENTRO: Título dinámico -->
  <div class="navbar-center">
    <span class="titulo-central">{{ currentTitle }}</span>
  </div>

  <!-- DERECHA: Sesión activa o enlaces de invitado -->
  <div class="navbar-right">
    <ng-container *ngIf="isLoggedIn; else guestLinks">
      <button style="padding: 0.5rem 0.5rem;" routerLink="/mi-perfil">Mi perfil</button>
      <span class="nombre">{{ nombreUsuario }} {{apellidoUsuario}}</span>
      <button class="btn-logout" (click)="logout()">Cerrar sesión</button>
    </ng-container>

    <ng-template #guestLinks>
      <a routerLink="/login">Ingresar</a>
      <a routerLink="/registrar">Registrarse</a>
    </ng-template>
  </div>
</div>
