@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333;
  // Sistema de color de Angular Material
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

html,
body {
  height: 100%;
  background: url('assets/principal.png') no-repeat center center fixed;
  background-color: #FBE6C9; //fondo color durazno
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: 600;
  color: #104ea7;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 0.5px;
}

button {
  align-self: center;
  background: #104ea7;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color .3s;
  width: fit-content;
}
  
  button:hover{
    background: #0d3f8f;
  }

  input, select {
  padding: 0.5rem;
  border: 1px solid rgb(11, 55, 118);
  border-radius: 6px;
  background: hsla(215, 64%, 42%, 0.950);
  line-height: 1;
  color: white;
  font-weight: bolder;
  }
  
  .app-container {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/login.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  overflow: hidden;          
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: fit-content;
  margin: auto;
  border: 3px solid #104fa7;
}

.titulo {
  width: fit-content;
  margin: 1rem auto -0.15rem auto;
  padding: 1rem 1rem 1rem 1rem;
  border-top: 3px solid #104ea7;
  border-left: 3px solid #104ea7;
  border-right: 3px solid #104ea7;
  border-bottom: 3px solid #104ea7;
  border-radius: 8px 8px 0 0;
  background-color: #329fca;
}

.titulo2 {
  @extend .titulo;
  margin: 0 auto -2rem auto;
}