@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333;

  // Fondo base beige

  // Sistema de color de Angular Material
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

html,
body {
  height: 100%;
  background-color: #fdf6ec; // beige cálido
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #104ea7;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 0.5px;
}

button {
  background-color: #00aae4;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#00aae4, 10%);
  }
}